<template>
	<p :style="css">
		<span
			v-for="(block, index) in blocks"
			:key="index"
			:style="block.css.join(';')"
		>
			{{ block.text }}
		</span>
	</p>
</template>

<script lang="ts">
import { ParsedTag } from 'ass-compiler/types/tags';
import { defineComponent, PropType } from 'vue';
import { ComputedSubtitle } from '../main';

function ASSToCss(color: string): string {
	return `#${color.substring(9)}${color.substring(7,8)}${color.substring(5,6)}`;
}

interface SubBlock {
	text: string,
	css: string[],
	KTime?: number
}

interface IState {
	blocks: SubBlock[],
	css: string,
	cssBlock: string
}

export default defineComponent({

	props: {
		line: {
			type: Object as PropType<ComputedSubtitle>,
			required: true
		},
		time: {
			type: Number,
			required: true
		}
	},

	data(): IState {
		return {
			blocks: [],
			css: '',
			cssBlock: ''
		};
	},

	watch: {
		time(time) {
			this.blocks.forEach((block) => {
				const rule = `color: ${ASSToCss(this.line.style.SecondaryColour)}`;
				const kIndex = block.css.findIndex(el => el === rule);
				if (block.KTime && time <= block.KTime) {
					if (kIndex === -1) block.css.push(rule);
				} else {
					delete block.css[kIndex];
					block.css = block.css.filter(el => !!el);
				}
			});
		},
		line() {
			this.blocks = this.computeBlocks();
			[this.css, this.cssBlock] = this.computeLineCSS();
		},
		cssBlock(now, old) {
			const block = document.getElementById('style_dec') as unknown as HTMLStyleElement;
			block.textContent = block.textContent?.replace(old, '') + now || now;
		}
	},

	created() {
		this.blocks = this.computeBlocks();
		[this.css, this.cssBlock] = this.computeLineCSS();
	},

	unmounted() {
		const block = document.getElementById('style_dec') as unknown as HTMLStyleElement;
		block.textContent = block.textContent?.replace(this.cssBlock, '') || '';
	},

	methods: {
		getGlobalEffects(): ParsedTag {
			return this.line.sub.Text.parsed.reduce((acc, block) => 
				Object.assign(acc, block.tags.reduce((acc, block) =>
					Object.assign(acc, block), {} as { [K in keyof ParsedTag]: ParsedTag[K]; })
				), {} as { [K in keyof ParsedTag]: ParsedTag[K]; });
		},
		computeLineCSS(): string[] {
			const tags = this.getGlobalEffects();
			const output = [`top: ${this.line.offset}px`];
			const blockCSS = [];
			if (this.line.style.Fontname) output.push(`font-family: '${this.line.style.Fontname}', sans-serif`);
			if (this.line.style.Outline && this.line.style.OutlineColour)
				output.push(`-webkit-text-stroke: ${this.line.style.Outline}px ${ASSToCss(this.line.style.OutlineColour)}; paint-order: stroke fill`);
			if (this.line.style.PrimaryColour)
				output.push(`color: ${ASSToCss(this.line.style.PrimaryColour)}`);
			if (this.line.style.Fontsize)
				output.push(`font-size: ${this.line.style.Fontsize}px`);
			if (this.line.style.Bold === '-1')
				output.push('font-weight: bold');
			if (tags.fad) {
				const lineDuration = this.line.sub.End - this.line.sub.Start;
				const name = `fade-${tags.fad[0]}-${tags.fad[1]}-${Math.floor(Math.random()*1000)}`;
				output.push(`animation: ${lineDuration}s linear ${this.time > this.line.sub.Start ? this.line.sub.Start - this.time:0}s ${name}`);
				console.log(tags.fad, lineDuration);
				blockCSS.push(`@keyframes ${name} {
					from { opacity: 0; }
					${((tags.fad[0]/1000) / lineDuration)*100}% { opacity: 1; }
					${((lineDuration - (tags.fad[1]/1000)) / lineDuration)*100}% { opacity: 1; }
					to { opacity: 0; }
				}`);
			}
			return [output.join(';'), blockCSS.join(' ')];
		},
		computeBlocks(): SubBlock[] {
			const blocks = this.line.sub.Text.parsed.map(block => {
				const merged_tags = block.tags.reduce((acc, el) => {
					let KTime = acc.k;
					if (el.k) {
						KTime = typeof KTime === 'undefined' ? el.k:KTime+el.k;
					}
					return Object.assign(acc, {...el, k: KTime});
				}, {} as { [K in keyof ParsedTag]: ParsedTag[K]; });
				return {
					tags: merged_tags,
					text: block.text
				};
			});
			return blocks.map<SubBlock>((block, i, blocks) => {
				let KTime = -1;
				if (block.tags.k) {
					KTime = 0;
					for (let i2 = 0; i2 < i; i2++) {
						KTime += blocks[i2].tags?.k || 0;
					}
					KTime = this.line.sub.Start + (KTime * 0.01);
				}
				return {
					text: block.text,
					css: KTime >= 0 ? [`color: ${ASSToCss(this.line.style.SecondaryColour)}`]:[],
					KTime: KTime >= 0 ? KTime:undefined
				};
			});
		}
	}
});
</script>

<style lang="scss" scoped>
	p {
		position: absolute;
		width: 100%;
		text-align: center;
	}
</style>
