<template>
	<div
		class="video-container"
		@click="videoClick"
	>
		<video
			id="video"
			ref="video"
			style="height: 480px; width: auto;"
			:src="video"
		/>
		<div
			class="subs"
		>
			<Subtitle
				v-for="(subtitle, index) in shownSubtitles"
				:key="index"
				:line="subtitle"
				:time="time"
			/>
		</div>
	</div>
</template>

<script lang="ts">
import { parse, ParsedASSEvent } from 'ass-compiler';
import { ComputedSubtitle, SubStyle, SubtitleWithStyle } from '../main';
import { mapSubPosition } from '../util';
import Subtitle from './Subtitle.vue';
import { defineComponent } from 'vue';

interface VState {
	subtitles: ComputedSubtitle[],
	styles: SubStyle[]
	shouldTick: boolean,
	time: number
}

export default defineComponent({
	name: 'Subtitles',

	components: {
		Subtitle
	},

	props: {
		ass: {
			required: true,
			type: String
		},
		video: {
			required: true,
			type: String
		}
	},

	data(): VState {
		return {
			subtitles: [],
			styles: [],
			shouldTick: false,
			time: 0
		};
	},

	computed: {
		shownSubtitles(): ComputedSubtitle[] {
			return this.subtitles
				.filter(event => event.sub.Start < this.time && this.time < event.sub.End);
		}
	},

	async created() {
		const sub_file = await fetch(this.ass).then(res => res.text());
		const subtitles = parse(sub_file);
		this.styles = subtitles.styles.style;
		this.subtitles = this.computeSubtitles(subtitles.events.dialogue);
	},

	mounted() {
		const videoEl = (this.$refs.video as HTMLVideoElement);

		videoEl.addEventListener('play', () => {
			console.log('play');
			this.shouldTick = true;
			requestAnimationFrame(this.tick.bind(this));
		});

		videoEl.addEventListener('pause', () => {
			console.log('pause');
			this.shouldTick = false;
		});
	},

	methods: {
		tick() {
			if (this.shouldTick) {
				const videoEl = (this.$refs.video as HTMLVideoElement);
				this.time = videoEl.currentTime;

				requestAnimationFrame(this.tick.bind(this));
			}
		},
		computeSubtitles(subtitles: ParsedASSEvent[]): ComputedSubtitle[] {
			const ret = mapSubPosition(subtitles
				.map<SubtitleWithStyle>((event) => {
					const style = this.styles.find(style => style.Name === event.Style) as unknown as SubStyle;
					return {
						sub: event,
						style
					};
				})).map<ComputedSubtitle>(line => {
					return {
						...line,
						offset: line.position * 30
					};
				});
			console.log(ret);
			return ret;
		},
		videoClick() {
			const videoEl = (this.$refs.video as HTMLVideoElement);
			videoEl.volume = 0.25;
			videoEl.play();
		}
	}
});
</script>

<style scoped lang="scss">
	.video-container {
		position: relative;
		width: max-content;
		.subs {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
</style>
