<template>
	<Subtitles
		ass="kon_ed.ass"
		video="kon_ed.mp4"
	/>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import Subtitles from './components/Subtitles.vue';

export default defineComponent({
	name: 'App',
	components: {
		Subtitles
	}
});
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
